header,
.search-section {
    display: none;
}

/* ================================================== GENERAL ======================================================= */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.m-b-1 {
    margin-bottom: 10px;
}

/* ================================================== COLUMNS ======================================================= */
.col-4 {
    width: 33.33%;
}

@media screen and (max-width: 1024px){
    .col-md-6 {
        width: 50%;
    }
}

@media screen and  (max-width: 720px) {
    .col-sm-12 {
        width: 100%;
    }
}
